rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /contact/{contactID} {
      allow create;
    }
    match /faqs/{faqID} {
      allow read;
    }
    match /events/{eventID} {
      allow read;
    }
    match /team/{teamMemberID} {
      allow read;
    }
    match /sponsors/{sponsorID} {
      allow read;
    }

    match /hackers/{hackerID} {
      allow create;
      allow read, update, delete: if request.auth.uid == hackerID;
    }
    // match /{document=**} {
    //   allow read, write: if request.time < timestamp.date(2020, 4, 27);
    // }
  }
}