.sidebar {
  max-width: 300px;
}

.announcement-list-group-item:nth-child(1n) {
  border-left: 6px solid var(--primary);
}
.announcement-list-group-item:nth-child(2n) {
  border-left: 6px solid var(--danger);
}
.announcement-list-group-item:nth-child(3n) {
  border-left: 6px solid var(--warning);
}
.announcement-list-group-item:nth-child(4n) {
  border-left: 6px solid var(--success);
}

#live-countdown {
  margin-top: -1.5rem;
}

#prizes [class*='col']:nth-child(n) .card {
  border-bottom: 6px solid var(--green);
}

#prizes [class*='col']:nth-child(2n) .card {
  border-bottom: 6px solid var(--red);
}

#prizes [class*='col']:nth-child(3n) .card {
  border-bottom: 6px solid var(--blue);
}

#prizes [class*='col']:nth-child(4n) .card {
  border-bottom: 6px solid var(--yellow);
}